.education {
    background-color: white;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px
}

#school, #degree, #start, #end, #location {
    margin-bottom: 5px;
}

.educationHeader {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#hideEducation {
    border-style: none;
    background-color: white;
}