.education {
    background-color: white;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
}

#school, #degree, #start, #end, #location {
    margin-bottom: 5px;
}

.educationHeader {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#hideEducation {
    border-style: none;
    background-color: white;
}

.eduItem {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

#eduSchool, #eduDegree, #eduDates, #eduLocation {
    margin-bottom: 3px;
}

#eduEdit, #eduDel {
    margin-top: 3px;
    margin-bottom: 6px;
    background-color: white;
    height: 20px;
    border-style: none;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 5px;
}

#eduEdit:hover, #eduDel:hover {
    color: white;
    background-color: rgb(186, 186, 186);
}