.experience {
    background-color: white;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px
}

#company, #position, #work {
    margin-bottom: 5px;
}

.experienceHeader {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#hideExperience {
    border-style: none;
    background-color: white;
}

textarea {
    min-height: 50px;
    margin-bottom: 10px;
    max-width: 480px;
}

.expItem {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

#expCompany, #expPosition, #expDates, #expLocation, #expWork {
    margin-bottom: 3px;
}

#expEdit, #expDel {
    margin-top: 3px;
    margin-bottom: 6px;
    background-color: white;
    height: 20px;
    border-style: none;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 5px;
}

#expEdit:hover, #expDel:hover {
    color: white;
    background-color: rgb(186, 186, 186);
}