.fullInfo {
    background-color: white;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
}

.infoHeader {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#hideInfo {
    border-style: none;
    background-color: white;
}

svg {
    height: 50%;
    width: auto;
}

#firstName, #lastName, #email, #phone {
    margin-bottom: 5px;
}

input {
    border-radius: 5px;
    height: 25px;
    margin-bottom: 10px;
}

#submit, #edit {
    background-color: white;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
}

#submit:hover, #edit:hover {
    background-color: lightblue;
}